<!-- ======= Sidebar ======= -->

    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="statistiques.php">
                    <i class="bi bi-grid"></i>
                    <span>Tableau de Bord</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-heading">Main</li>
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Evaluations</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                  <a href="forms-elements.html">
                    <i class="bi bi-circle"></i><span>Evaluation</span>
                  </a>
                </li>
                <li>
                  <a href="forms-layouts.html">
                    <i class="bi bi-circle"></i><span>Question Réponse</span>
                  </a>
                </li>
                <li>
                  <a href="forms-editors.html">
                    <i class="bi bi-circle"></i><span>Test</span>
                  </a>
                </li>
              </ul>
            </li><!-- End Evaluation Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'domaine_admin' %}">
                    <i class="bi bi-file-text-fill"></i>
                    <span>Domaine</span>
                </a>
            </li><!-- End Domaine Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="commandes.php">
                    <i class="bi bi-hand-index-fill"></i>
                    <span>Commandes</span>
                </a>
            </li><!-- End Commandes Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="paiements.php">
                    <i class="bi bi-credit-card-fill"></i>
                    <span>Paiements</span>
                </a>
            </li><!-- End Paiement Page Nav -->
            <!-- <li class="nav-item" >
            <a class="nav-link collapsed" href="paiements.php">
                <i class="bi bi-file-earmark"></i>
                <span>Rapports</span>
            </a>
        </li>End Paiement Page Nav -->

            <li class="nav-heading">Others</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="services.php">
                    <i class="bi bi-list-task"></i>
                    <span>Services</span>
                </a>
            </li><!-- End Services Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="utilisateurs.php">
                    <i class="bi bi-people-fill"></i>
                    <span>Utilisateurs</span>
                </a>
            </li><!-- End Utilisateurs Page Nav -->
        </ul>

    </aside><!-- End Sidebar-->

    