<!-- ======= Sidebar ======= -->

<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard_admin' %}">
        <i class="bi bi-grid"></i>
        <span>Tableau de Bord</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-heading">Main</li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'niveau_admin' %}">
        <i class="bi bi-water"></i>
        <span>Niveau</span>
      </a>
    </li><!-- End Niveau Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'domaine_admin' %}">
        <i class="bi bi-file-text-fill"></i>
        <span>Domaine</span>
      </a>
    </li><!-- End Domaine Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'apprenant_admin' %}">
        <i class="bi bi-person-workspace"></i>
        <span>Apprenants</span>
      </a>
    </li><!-- End apprenant Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'enseignant_admin' %}">
        <i class="bi bi-person-video"></i>
        <span>Enseignants</span>
      </a>
    </li><!-- End Enseignants Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'formation_admin' %}">
        <i class="bi bi-journal-text"></i>
        <span>Formations</span>
      </a>
    </li><!-- End Formation Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-cash-coin"></i><span>Paiements</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'modalitepaiement' %}">
            <i class="bi bi-circle"></i><span>Modalité</span>
          </a>
        </li>
        <li>
          <a href="{% url 'paiement' %}">
            <i class="bi bi-circle"></i><span>Paiement</span>
          </a>
        </li>
      </ul>
    </li><!-- End Paiement Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'inscription_admin' %}">
        <i class="bi bi-pencil-fill"></i>
        <span>Inscription</span>
      </a>
    </li>
    <!-- End Inscription Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'formation_admin' %}">
        <i class="bi bi-file-text-fill"></i>
        <span>Formation</span>
      </a>
    </li>
    <!-- End Formation Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#"><i class="bi bi-journal-text"></i><span>Evaluations</span><i class="bi bi-chevron-down ms-auto"></i></a>
      <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'questionnaire' %}"><i class="bi bi-circle"></i><span>Question Réponse</span></a>
        </li>
        <li>
          <a href="{% url 'Test' %}"><i class="bi bi-circle"></i><span>Test</span></a>
        </li>
      </ul>
    </li>
    <!-- End Evaluation Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav3" data-bs-toggle="collapse" href="#"><i
          class="bi bi-journal-text"></i><span>Publications</span><i class="bi bi-chevron-down ms-auto"></i></a>
      <ul id="forms-nav3" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'all_publications' %}"><i class="bi bi-circle"></i><span>Publications</span></a>
        </li>
        <li>
          <a href="{% url 'publication_admin' %}"><i class="bi bi-circle"></i><span>Publier</span></a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="">
        <i class="bi bi-credit-card-fill"></i>
        <span>Utilisateurs</span>
      </a>
    </li><!-- End Paiement Page Nav -->
  </ul>
</aside>
<!-- End Sidebar -->