<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard_enseignant' %}">
        <i class="bi bi-grid"></i>
        <span>Tableau de Bord</span>
      </a>
    </li>
    <!-- End Tableau de Bord Nav -->

    <li class="nav-heading">Main</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'formation_enseignant' %}">
        <i class="bi bi-journals"></i>
        <span>Mes Formations</span>
      </a>
    </li>
    <!-- End Mes Formations Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'enseignant_liste_apprenant' %}">
        <i class="bi bi-journals"></i>
        <span>Mes Apprenants</span>
      </a>
    </li>
    <!-- End Mes Apprenants Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#modules-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i>
        <span>Modules</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="modules-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'sous_chapitre_enseignant' %}">
            <i class="bi bi-circle"></i>
            <span>Sous Chapitre</span>
          </a>
        </li>
        <li>
          <a href="{% url 'chapitre_enseignant' %}">
            <i class="bi bi-circle"></i>
            <span>Chapitre</span>
          </a>
        </li>
        <li>
          <a href="{% url 'module_enseignant' %}">
            <i class="bi bi-circle"></i>
            <span>Module</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Modules Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#questions-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-cash-coin"></i>
        <span>Questions | Réponses</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="questions-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'questionnaire' %}">
            <i class="bi bi-circle"></i>
            <span>Questionnaire</span>
          </a>
        </li>
        <li>
          <a href="{% url 'reponsesAlternatives' %}">
            <i class="bi bi-circle"></i>
            <span>Réponses Alternatives</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Questions | Réponses Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#ressources-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i>
        <span>Ressources</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="ressources-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'typeressource' %}">
            <i class="bi bi-circle"></i>
            <span>Type Ressources</span>
          </a>
        </li>
        <li>
          <a href="{% url 'ressource' %}">
            <i class="bi bi-circle"></i>
            <span>Ressources</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Ressources Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#evaluations-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i>
        <span>Évaluations</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="evaluations-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'evaluation' %}">
            <i class="bi bi-circle"></i>
            <span>Interrogation</span>
          </a>
        </li>
        <li>
          <a href="{% url 'questionInterro' %}"><i class="bi bi-circle"></i><span>Questions Interro</span></a>
        </li>
        <li>
          <a href="{% url 'reponsesAlternativesInterro' %}"><i class="bi bi-circle"></i><span>Reponses Alternatives Interro</span></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-circle"></i><span>Participation</span></a>
        </li>
      </ul>
    </li>
    <!-- End Évaluations Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'publication_enseignant' %}">
        <i class="bi bi-journals"></i>
        <span>Publications</span>
      </a>
    </li>
    <!-- End Publications Nav -->

    <li class="nav-heading">Others</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'video_conference' %}">
        <i class="bi bi-person-video"></i>
        <span>Video Conférence</span>
      </a>
    </li>
    <!-- End Video Conférence Nav -->
  
  </ul>
</aside>
<!-- End Sidebar -->
