{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>e-Scholar - Répondre à l'interrogation</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/armoirie.png' %}" rel="icon">
    <link href="{% static 'assets/img/armoirie.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Nunito|Poppins" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- SweetAlert and jQuery -->
    <script src="{% static 'node_modules/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <!-- ======= Header ======= -->
    {% include 'partials/header.html' %}

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>{{ interrogation.titre }}</h1>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <section class="section">
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Répondez à la question {{ question_index }} sur {{ total_questions }}</h5>
                                <p class="card-text"><strong>{{ question.enonce }}</strong></p>
                                
                                <!-- Form to submit the response -->
                                <form method="post">
                                    {% csrf_token %}
                                    <fieldset class="mb-3">
                                        <div class="col-sm-10">
                                            {% for alternative in reponses_alternatives %}
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="reponse" id="alternative_{{ alternative.pk }}" value="{{ alternative.pk }}">
                                                    <label class="form-check-label" for="alternative_{{ alternative.pk }}">
                                                        {{ alternative.reponse_alternative }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </fieldset>

                                    <!-- Submit button -->
                                    <div class="row mb-3 text-center">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary">Soumettre la Réponse</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include 'partials/footer.html' %}

    <!-- SweetAlert for showing messages -->
    <script>
        {% if messages %}
        {% for msg in messages %}
        var messageType = "{{ msg.tags }}";
        var messageText = "{{ msg|escapejs }}";
        if (messageType === "success") {
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: messageText,
                showConfirmButton: false,
                timer: 1000
            });
        } else if (messageType === "warning") {
            Swal.fire({
                position: 'center',
                icon: 'warning',
                title: messageText,
                showConfirmButton: false,
                timer: 3000
            });
        } else {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: messageText,
                showConfirmButton: false,
                timer: 5000
            });
        }
        {% endfor %}
        {% endif %}
    </script>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
    <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
