{% extends 'base/layout.html' %}

{% block title %}eScholar{% endblock %}

{% block sidebar%}
{% include 'partials/learner_sidebar.html' %}
{% endblock %}

{% block Dashboard %} Formations{% endblock %}

{% block ContentTitle %}
Apprenant
{% endblock %}

{% block ContentSubTitle %}
Tableau de Bord
{% endblock %}

{% block content %}

{% for msg in messages %}
{% if msg %}
<script>
    Swal.fire({
        position: 'center',
        icon: 'success',
        title: msg,
        showConfirmButton: false,
        timer: 2800
    }).then(function() {
    });
</script>
{% endif %}
{% endfor %}


<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="filter">
                    <a class="icon " data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                            class="bi bi-plus-circle-fill h4"></i></a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Formations</h5>
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Duree</th>
                                <th scope="col">Date_debut</th>
                                <th scope="col">Date_fin</th>
                                <th scope="col">Enseignant</th>
                                <th scope="col">Module</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for formation in formations %}
                            <tr>
                                <th scope="row">{{ formation.code }}</th>
                                <td>{{ formation.titre }}</td>
                                <td>{{ formation.duree }}</td>
                                <td>{{ formation.date_debut }}</td>
                                <td>{{ formation.date_fin }}</td>
                                <td>{{ formation.enseignant.nom }} {{formation.enseignant.postnom}}
                                    {{formation.enseignant.prenom}}</td>
                                <td>{{ formation.module.titre }}</td>
                                <td>
                                    <a class="text-info mx-auto md-2" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal1-{{forloop.counter}}">
                                        <span class="badge bg-success ">
                                            <i class="bi bi-pencil-square fa-lg " data-toggle="tooltip"
                                                data-placement="top" title="Modifier cet élément"></i>
                                        </span>
                                    </a>
                                    <a class="text-info mx-auto pd-2" href="{{ formation.code }}">
                                        <span class="badge bg-danger ">
                                            <i class="bi bi-trash fa-lg "></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 ">
                <h5 class="modal-title fw-bold" id="exampleModalLabel">Nouvelle Formation </h5>
                <button type="button" class="btn-close h2 fw-bold" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <form method="POST" action="{% url 'insertFormation' %}">
                    {% csrf_token %}
                    <div class="col-md-12 mb-4 ">
                        <div class="input-group has-validation">
                            <input type="text" name="titre" class="form-control mb-3" id="titre" placeholder="Titre"
                                required>
                        </div>
                        <div class="input-group has-validation">
                                <textarea name="description" class="form-control mb-3" id=""></textarea>
                        </div>
                        <div class="input-group has-validation">
                            <input type="time" name="duree" class="form-control mb-3" id="durée" placeholder="Duree"
                                required>
                        </div>
                        <div class="input-group has-validation">
                            <input type="date" name="date_debut" class="form-control mb-3" id="date_début"
                                placeholder="Date_debut" required>
                        </div>
                        <div class="input-group has-validation">
                            <input type="date" name="date_fin" class="form-control mb-3" id="date_fin" placeholder="Date_fin"
                                required>
                        </div>
                        <div class="input-group has-validation">
                            <select name="domaine" class="form-select mb-3" id="">
                                <option value="">--selectionner Domaine--</option>

                                {% for d in domaines %}
                                <option value="{{ d.code }}">{{ d.designation }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="input-group has-validation">
                            <select name="enseignant" class="form-select mb-3" id="">
                                <option value="">--selectionner Enseignant--</option>

                                {% for e in enseignants %}
                                <option value="{{ e.matricule }}">{{ e.nom }} {{e.postnom}} {{e.prenom}}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="input-group has-validation">
                            <select name="module" class="form-select mb-3" id="">
                                <option value="">--selectionner Module--</option>

                                {% for m in modules %}
                                <option value="{{ m.code }}">{{ m.titre }} </option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <button name="save" class="btn btn-secondary w-50 fw-bold " type="submit">Enregistrer</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-top-0">

            </div>
        </div>
    </div>
</div>

<!-- Modal Modification Formation-->
{% for formation in formations %}
<div class="modal fade" id="exampleModal1-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 ">
                <h5 class="modal-title fw-bold" id="exampleModalLabel">Modification Formation</h5>
                <button type="button" class="btn-close h2 fw-bold" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <form method="POST" action="{% url 'updateFormation' %}">
                    {% csrf_token %}
                    <input type='hidden' value="{{formation.code}}" name='code'>
                    <div class="input-group has-validation">
                        <input type="text" name="titre" class="form-control mb-3" value="{{formation.titre}}" id="titre" placeholder="Titre"
                            required>
                    </div>
                    <div class="input-group has-validation">
                        <textarea name="description" class="form-control mb-3" id="">{{ formation.description }}</textarea>
                    </div>
                    <div class="input-group has-validation">
                        <input type="time" name="duree" class="form-control mb-3" value="{{formation.duree}}" id="durée" placeholder="Duree"
                            required>
                    </div>
                    <div class="input-group has-validation">
                        <input type="date" name="date_debut" class="form-control mb-3" value="{{formation.date_debut}}" id="date_début"
                            placeholder="Date_debut" required>
                    </div>
                    <div class="input-group has-validation">
                        <input type="date" name="date_fin" class="form-control mb-3" id="date_fin" placeholder="Date_fin"
                            required>
                    </div>
                    <div class="input-group has-validation">
                        <select name="domaine" class="form-select mb-3" id="">
                            <option value="{{formation.domaine.code}}" selected>{{ formation.domaine.designation }}</option>
                            <option value="" disabled>--selectionner Domaine--</option>

                            {% for d in domaines %}
                            <option value="{{ d.code }}">{{ d.designation }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="input-group has-validation">
                        <select name="enseignant" class="form-select mb-3" id="">
                            <option value="{{ formation.enseignant.matricule }}" selected>{{ formation.enseignant.nom }} {{ formation.enseignant.postnom }} {{ formation.enseignant.prenom }}</option>
                            <option value="" disabled>--selectionner Enseignant--</option>

                            {% for e in enseignants %}
                            <option value="{{ e.matricule }}">{{ e.nom }} {{e.postnom}} {{e.prenom}}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="input-group has-validation">
                        <select name="module" class="form-select mb-3" id="">
                            <option value="{{formation.module.code}}" selected>{{ formation.module.titre }}</option>
                            <option value="" disabled>--selectionner Module--</option>

                            {% for m in modules %}
                            <option value="{{ m.code }}">{{ m.titre }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                    <div class="col-md-12 text-center">
                        <button name="save" class="btn btn-success w-50 fw-bold mb-4" type="submit">Modifier</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-top-0">

            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}