

{% extends 'base/layout.html' %}

{% block title %}eScholar{% endblock %}

{% block sidebar%}
    {% include 'partials/sidebar.html' %}
{% endblock %}

{% block Dashboard %} Les Domaines{% endblock %}

{% block ContentTitle %}
    Administrateur
{% endblock %}

{% block ContentSubTitle %}
    Tableau de Bord
{% endblock %}

{% block content %}
<script>
    {% if messages %}
    {% for msg in messages %}
    var messageType = "{{ msg.tags }}";
    var messageText = "{{ msg|escapejs }}";
    if (messageType === "success"){
            Swal.fire({
            position: 'center',
            icon: 'success',
            title: messageText,
            showConfirmButton: false,
            timer: 1000
        }).then(function() {});
    }
    else if (messageType === "warning"){
            Swal.fire({
            position: 'center',
            icon: 'warning',
            title: messageText,
            showConfirmButton: false,
            timer: 1000
        }).then(function() {});
    }
    else {
            Swal.fire({
            position: 'center',
            icon: 'error',
            title: messageText,
            showConfirmButton: false,
            timer: 5000
        }).then(function() {});
    }
    
    {% endfor %}
    {% endif %}
</script>

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="filter">
                    <a class="icon " data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                            class="bi bi-plus-circle-fill h4"></i></a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Questions</h5>
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Module</th>
                                <th scope="col">Questions</th>
                                <th scope="col">Réponses</th>
                                <th scope="col">Max</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for q in questionnaire %}
                            <tr>
                                <th scope="row">{{ q.code }}</th>
                                <td>{{ q.module.titre }}</td>
                                <td>{{ q.question }}</td>
                                <td>{{ q.reponse }}</td>
                                <td>{{ q.maxima }}</td>
                                <td>
                                    <a class="text-info mx-auto md-2" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal1-{{forloop.counter}}">
                                        <span class="badge bg-success ">
                                            <i class="bi bi-pencil-square fa-lg " data-toggle="tooltip"
                                                data-placement="top" title="Modifier cet élément"></i>
                                        </span>
                                    </a>
                                    <a class="text-info mx-auto pd-2" href="{{ domaine.code }}">
                                        <span class="badge bg-danger ">
                                            <i class="bi bi-trash fa-lg "></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>

  -- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 ">
                <h5 class="modal-title fw-bold" id="exampleModalLabel">Nouvelle Question</h5>
                <button type="button" class="btn-close h2 fw-bold" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <form method="POST" action="{% url 'add_questionnaire' %}">
                    {% csrf_token %}
                    <div class="col-md-12 mb-4 ">
                        <div class="input-group has-validation">
                            <div id="questionnaire-forms">
                                <div class="questionnaire-form">
                                    <select name="module" class="form-select mb-3" required>
                                        <option>--Selectionner Module--</option>
                                        {% for module in modules %}
                                        <option value="{{ module.code }}">{{ module.titre }}</option>
                                        {% endfor %}
                                    </select>
                                    <textarea name="question" class="form-control mb-3" placeholder="Entrez la Question ici"></textarea>
                                    <textarea name="reponse" class="form-control mb-3" placeholder="Entrez la Réponse ici"></textarea>
                                    <input type="number" name="maxima" class="form-control mb-3" value="1">
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-12 text-center">
                        <button type="button" onclick="addQuestionnaireForm()"
                            class="btn btn-primary w-50 fw-bold mb-3">Ajouter des champs</button>
                    </div>
                        <button name="save" class="btn btn-secondary text-center w-50 fw-bold " type="submit">Enregistrer</button>
                        
                </form>
                <script>
                    function addQuestionnaireForm() {
                        var formContainer = document.getElementById('questionnaire-forms');
                        var newForm = document.createElement('div');
                        newForm.className = 'questionnaire-form';
                        newForm.innerHTML = `
                        <hr>
            <select name="module" class="form-select mb-3" required>
                                        <option>--Selectionner Module--</option>
                                        {% for module in modules %}
                                        <option value="{{ module.code }}">{{ module.titre }}</option>
                                        {% endfor %}
                                    </select>
                                    <textarea name="question" class="form-control mb-3" placeholder="Entrez la Question ici"></textarea>
                                    <textarea name="reponse" class="form-control mb-3" placeholder="Entrez la Réponse ici"></textarea>
                                    <input type="number" name="maxima" class="form-control mb-3" value="1">
        `;
                        formContainer.appendChild(newForm);
                    }
                </script>
            </div>
            <div class="modal-footer border-top-0">

            </div>
        </div>
    </div>
</div>

<!-- Modal Modification Domaine-->
{% for q in questionnaire %}
<div class="modal fade" id="exampleModal1-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 ">
                <h5 class="modal-title fw-bold" id="exampleModalLabel">Modification Questionnaire</h5>
                <button type="button" class="btn-close h2 fw-bold" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <form method="POST" action="{% url 'updateQuestionnaire' %}">
                    {% csrf_token %}
                    <input type='hidden' value="{{q.code}}" name='code'>
                    <div class="col-md-12 mb-4 ">
                        <div class="input-group has-validation">
                            <div id="questionnaire-forms">
                                <div class="questionnaire-form">
                                    <select name="module" class="form-select mb-3" required>
                                <option value="{{ q.module.code }}" selected>{{ q.module.titre }}</option>
                                        <option disabled>--Selectionner Module--</option>
                                        {% for formation in formations %}
                                        <option value="{{ formation.code }}">{{ formation.titre }}</option>
                                        {% endfor %}
                                    </select>
                                    <textarea name="question" class="form-control mb-3" placeholder="Entrez la Question ici">{{ q.question }}</textarea>
                                    <textarea name="reponse" class="form-control mb-3" placeholder="Entrez la Réponse ici">{{ q.reponse }}</textarea>
                                    <input type="number" name="maxima" class="form-control mb-3" value="{{ q.maxima }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <button name="save" class="btn btn-success w-50 fw-bold " type="submit">Modifier</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-top-0">

            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}