{% extends 'base/layout.html' %}

{% block title %}
  eScholar
{% endblock %}

{% block sidebar %}
  {% include 'partials/teacher_sidebar.html' %}
{% endblock %}
{% block Dashboard %}
  Statistiques
{% endblock %}

{% block ContentTitle %}
  Enseignant
{% endblock %}

{% block ContentSubTitle %}
  Tableau de Bord
{% endblock %}

{% block content %}
  <div class="col-lg-12">
    <div class="row">
      <!-- Sales Card -->
      <div class="col-xxl-4 col-md-4">
        <div class="card info-card sales-card">

          <div class="card-body">
            <h5 class="card-title">Nombre de modules</h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bx bx-list-ul"></i>
              </div>
              <div class="ps-3">
                <h6>{{ total_modules}} </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Sales Card -->

      <!-- Publication Card -->
      <div class="col-xxl-4 col-md-4">
        <div class="card info-card revenue-card">
          <div class="card-body">
            <h5 class="card-title">Nombre publications</h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bx bx-news"></i>
              </div>
              <div class="ps-3">
                <h6>{{ total_publications }} </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Revenue Card -->
      <div class="col-xxl-4 col-md-4">
        <div class="card info-card revenue-card">
          <div class="card-body">
            <h5 class="card-title">Nombre de ressources</h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bx bx-layer"></i>
              </div>
              <div class="ps-3">
                <h6>{{ total_ressources }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Revenue Card -->

{% comment %}================== Tableau ici=============== {% endcomment %}
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ressources</h5>
          <!-- Table with stripped rows -->
          <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
          <table class="table datatable  table-striped"  style="width:100%;align:right;font-size:13px; ; border-collapse:collapse"> 
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Contenu</th>
                <th scope="col">Type ressource</th>
              </tr>
            </thead>
            <tbody>
                {% for ressource in ressources %}
                  <tr>
                  <th scope="row">{{ ressource.code }}</th>
                      <td>{{ ressource.titre }}</td>
                      <td>{{ ressource.description }}</td>
                      <td>{{ ressource.contenu.name }}</td>
                      <td>{{ ressource.type_ressource.designation }}</td>
                  </tr>
                  {% endfor %}
            </tbody>
          </table>
        </div>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>


  <!-- End Left side columns -->
{% endblock %}
