{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{% block title %}e-Scholar{% endblock %}</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/armoirie.png' %}" rel="icon" />
    <link
      href="{% static 'assets/img/armoirie.png' %}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/quill/quill.snow.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/quill/quill.bubble.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/remixicon/remixicon.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/simple-datatables/style.css' %}"
      rel="stylesheet"
    />
    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <script src="{% static 'node_modules/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- =======================================================
      * Template Name: NiceAdmin
      * Updated: Aug 30 2023 with Bootstrap v5.3.1
      * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>

  <body class="bg-white">
    <style>
      .header-background {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
          ),
          /* Dégradé sombre */ url("/static/assets/img/students.jpg"); /* Image de fond */
        background-size: cover; /* Couvre tout l'élément */
        background-position: center; /* Centre l'image */
        background-repeat: no-repeat; /* Évite la répétition de l'image */
        color: white; /* Assure que le texte est lisible sur une image sombre */
      };

      /* Styles for uniform image size in cards */
      .img-fixed-size {
        width: 100%;
        height: 200px; /* Ajustez cette valeur selon vos besoins */
        object-fit: cover; /* Assure que l'image couvre le conteneur sans déformer l'image */
      };
      .justify-text {
        text-align: justify;
    }
    
    </style>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white ">
      <div class="container px-5">
        <a class="navbar-brand fw-bold" href="" style="fontsize: 50px"
          >eScholar</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active fw-bold" aria-current="page" href=""
                >Acceuil</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">Sur Nous</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#contact">Contacts</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'authentification' %}"
                >Se Connecter</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5 header-background mb-2">
      <div class="container px-5">
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-8">
            <div class="text-center my-5">
              <h1 class="display-5 fw-bolder text-white mb-5 mt-5">
                Bienvenue Sur eScholar
              </h1>
              <p class="lead text-white-50 mb-5">
                Plateforme d'E-Learning vous permettant de suivre des cours en
                ligne depuis vos smartphones, tablettes et ordinateurs.
              </p>
              <div
                class="d-grid gap-3 d-sm-flex justify-content-sm-center mt-5 mb-5"
              >
              <a
                  class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold"
                  href="{% url 'liste_formation' %}"
                  >Formations</a > 
                <a class="btn btn-outline-success btn-lg px-4 fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#!"
                  >S'inscrire</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Services section-->
    <section class="py-2 mt-4 border-bottom-0 bg-white" id="services">
      <div class="container px-0 my-0">
        <div class="text-center mb-5">
          <h2 class="fw-bolder text-dark">Nos Services</h2>
          <p class="lead mb-0">votre satisfaction est notre désire</p>
        </div>
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-4">
            <!-- Card with an image on top -->
            <div class="card">
              <img
                src="{% static 'assets/img/formation.jpg' %}"
                class="card-img-top img-fixed-size"
                style="height: 37.5vh"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title">Formation professionnelle</h6>
                <p class="card-text">
                  Un levier puissant pour transformer votre vie et atteindre de
                  nouveaux horizons.
                </p>
              </div>
            </div>
            <!-- End Card with an image on top -->
          </div>
          <div class="col-lg-4">
            <!-- Card with an image on top -->
            <div class="card">
              <img
                src="{% static 'assets/img/realisation.jpg' %}"
                class="card-img-top img-fixed-size"
                style="height: 37.5vh"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title">Réalisation et suivie de projet</h6>
                <p class="card-text">
                  Un accompagnement structuré pour mener vos initiatives à
                  succès et garantir leur évolution continue.
                </p>
              </div>
            </div>
            <!-- End Card with an image on top -->
          </div>
          <div class="col-lg-4">
            <!-- Card with an image on top -->
            <div class="card">
              <img
                src="{% static 'assets/img/assistance.jpg' %}"
                class="card-img-top img-fixed-size"
                style="height: 37.5vh"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title">Assistance et accompagnement</h6>
                <p class="card-text">
                  Des soutiens essentiels pour vous guider vers la réussite
                  professionnelle et transformer votre avenir.
                </p>
              </div>
            </div>
            <!-- End Card with an image on top -->
          </div>
        </div>
      </div>
    </section>
    <!-- about us section-->
    <section class="py-5 mt-0 border-bottom-0 bg-white" id="about">
      <div class="container px-0 my-0">
        <div class="text-center mb-2">
          <h2 class="fw-bolder text-dark mb-5 ">Qu'est-ce que eScholar ?</h2>
          <div class="col-md-12">
            <div class="card mb-3 mt-4 border-o" style="max-width: 100%">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{% static 'assets/img/books.jpg' %}" class="img-fluid rounded-start" alt="..." />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="card-title text-start fw-bold">eScholar</h2>
                      <p class="card-text text-start lh-5  mb-3 fw-normal">
                        Une plateforme d'e-learning innovante qui utilise l'intelligence artificielle pour personnaliser votre apprentissage. </br>Elle s'adapte à votre niveau, votre rythme et vos objectifs, offrant une flexibilité totale pour apprendre où et quand vous le souhaitez.</br> Grâce à son IA avancée et son interface intuitive, eScholar vous guide vers la réussite avec un accompagnement sur mesure et des certificats valorisants.</br> Découvrez une nouvelle façon d'apprendre avec eScholar.
                      </p>
                      
                    </div>
                  </div>                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- contact section-->
    <section class="py-0 mt-0 border-bottom-0 bg-white" id="contact">
      <div class="container px-0 my-0 ">
        <div class="text-center mb-5">
          <h2 class="fw-bolder text-dark mb-5 "><b>Comment nous joindre</b></h2>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <section class="section contact">

                  <div class="row gy-4">
            
                    <div class="col-xl-12">
            
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="info-box card ">
                            <i class="bi bi-geo-alt text-danger"></i>
                            <h3>Address</h3>
                            <p>A108 Adam Street,<br>New York, NY 535022</p>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <a href="tel:+243995247814" class="text-decoration-none">
                            <div class="info-box card text-center ">
                              <i class="bi bi-telephone text-success"></i>
                              <h3 class="text-success">Call Us</h3>
                              <p class="text-dark">+243 995 247 814<br>+243 995 247 814</p>
                            </div>
                          </a>
                        </div>
                        
                        <div class="col-lg-4">
                          <a href="mailto:nathanaeltsongo04@gmail.com" class="text-decoration-none">
                            <div class="info-box card text-center">
                              <i class="bi bi-envelope"></i>
                              <h3>Email Us</h3>
                              <p>nathanaeltsongo04@gmail.com<br>nathanaeltsongo04@gmail.com</p>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>           
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>  
       
    <!-- Footer-->
    <footer class="py-3 bg-dark">
      <div class="container px-5">
        <p class="m-0 text-center text-white">
          
          Copyright &copy; All right reserved to eScholar <span id="currentYear"></span>  CFPI
          <script>
            document.getElementById('currentYear').textContent=new Date().getFullYear();
          </script>
        </p>
      </div>
    </footer>

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    <script>
      {% if messages %}
      {% for msg in messages %}
      var messageType = "{{ msg.tags }}";
      var messageText = "{{ msg|escapejs }}";
      if (messageType === "success"){
        Swal.fire({
          title: messageText,
          icon: 'info',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'D\'accord',
          cancelButtonText: 'Annuler'
      }).then((result) => {
          if (result.isConfirmed) {
              // Rediriger vers la vue de confirmation côté serveur
              window.location.href = "{% url 'creation_compte_utilisateur' %}";
            } else {
              // Rediriger vers une autre page si l'utilisateur annule
              window.location.href = "{% url 'home' %}";
          }
      });
      }
      else if (messageType === "warning"){
              Swal.fire({
              position: 'center',
              icon: 'warning',
              title: messageText,
              showConfirmButton: false,
              timer: 2800
          }).then(function() {});
      }
      else {
              Swal.fire({
              position: 'center',
              icon: 'error',
              title: messageText,
              showConfirmButton: false,
              timer: 2800
          }).then(function() {});
      }

      {% endfor %}
      {% endif %}
    </script>
     <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg ">
      <div class="modal-content">
          <div class="modal-header border-bottom-0 ">
              <h5 class="modal-title fw-bold" id="exampleModalLabel">Inscription</h5>
              <button type="button" class="btn-close h2 fw-bold" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ">
              <form method="POST" action="{% url 'home' %}" enctype="multipart/form-data">
                  {% csrf_token %}

                      <div class="row">
                          <div class="col-md-6 mb-4 ">
                              <input type="text" name="nom" class="form-control mb-3" id="" placeholder="Nom" required>
                              <input type="text" name="postnom" class="form-control mb-3" id="" placeholder="Post-Nom" required>
                              <input type="text" name="prenom" class="form-control mb-3" id="" placeholder="Prenom" required>
                              <input type="text" name="addresse" class="form-control mb-3" id="" placeholder="Adresse" required>
                              <input type="email" name="email" class="form-control mb-3" id="" placeholder="Email" required>
                            </div>
                          <div class="col-md-6 mb-4 ">                                    
                              <select name="genre" id="" class="form-select mb-3" required>
                                  <option value="Masculin">Masculin</option>
                                  <option value="Féminin">Féminin</option>
                              </select>
                              <select name="etatcivil" id="" class="form-select mb-3" required>
                                  <option value="Marié(e)">Marié(e)</option>
                                  <option value="Célibataire">Célibataire</option>
                                  <option value="Divorcé(e)">Divorcé(e)</option>
                              </select>
                              <input type="text" name="profession" class="form-control mb-3" id="" value="" placeholder="Profession" required>
                              <input type="text" name="contact" class="form-control mb-3" id="" value="+243" required>
                              <input type="file" name="photo" class="form-control mb-3" id="">
                          </div>                            
                      </div>
                      <div class="row">
                          <div class="col-md-6 mb-4 ">                           
                                                      
                          </div>
                      </div>                       

                  <div class="col-md-12 text-center">
                      <button name="save" class="btn btn-secondary w-50 fw-bold " type="submit">Enregistrer</button>
                  </div>
              </form>
          </div>
          <div class="modal-footer border-top-0">

          </div>
      </div>
  </div>
</div>
    
      
    <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
    <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
