{% extends 'base/layout.html' %}

{% block title %}eScholar{% endblock %}

{% block sidebar%}

    {% if user.enseignant %}
        {% include 'partials/teacher_sidebar.html' %}
    {% elif user.apprenant %}
        {% include 'partials/learner_sidebar.html' %}
    {% else %}
        {% include 'partials/sidebar.html' %}
    {% endif %}
    
{% endblock %}

{% block Dashboard %} Profile{% endblock %}

{% block ContentTitle %}
    fonction du user
{% endblock %}

{% block ContentSubTitle %}
    Tableau de Bord
{% endblock %}

{% block content %}

<div class="col-xl-4">
    
    <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            {% if user.enseignant %}
            
                {% if user.enseignant.photo %}
                <img src="{{ user.enseignant.photo.url }}" style="height: 100px; width:100px;" alt="Profile" class="rounded-circle">
                {% else %}
                <a href="#" class=""><i class="fas fa-x"></i></a>
                {% endif %}
                
                <h4 class="text-center">{{ user.enseignant.nom }} {{ user.enseignant.postnom }} {{ user.enseignant.prenom }}</h4>
                <h6 class="fw-bold ">
                    {{ user.enseignant.profession }}
                </h6>
            {% elif user.apprenant %}
                {% if user.apprenant.photo %}
                <img src="{{ user.apprenant.photo.url }}" style="height: 100px; width:100px;" alt="Profile" class="rounded-circle">
                {% else %}
                <a href="#" class=""><i class="fas fa-x"></i></a>
                {% endif %}
            
                <h4 class="text-center">{{ user.apprenant.nom }} {{ user.apprenant.postnom }} {{ user.apprenant.prenom }}</h4>
                <h6 class="fw-bold ">
                    {{ user.apprenant.profession }}
                </h6>
            {% endif %}
            <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-8">

    <div class="card">
        <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Vue</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Modifier Mot
                        de Passe</button>
                </li>

            </ul>
            <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                    <h5 class="card-title">Details Profile</h5>
                    
                    
                    
                    <div class="row mb-2">
                        <div class="col-lg-3 col-md-4 label fw-bold ">Username</div>
                        <div class="col-lg-9 col-md-8">
                            {{ user.username }}
                        </div>
                    </div>
                    {% if user.apprenant %}
                    <div class="row mb-2">
                        <div class="col-lg-3 col-md-4 label fw-bold ">Noms</div>
                        <div class="col-lg-9 col-md-8">
                            {{ user.apprenant.nom }} {{ user.apprenant.postnom }} {{ user.apprenant.prenom }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-3 col-md-4 label fw-bold ">Profession</div>
                        <div class="col-lg-9 col-md-8">
                            {{ user.apprenant.profession }}
                        </div>
                    </div>
                    {% elif user.enseignant %}
                    <div class="row mb-2">
                        <div class="col-lg-3 col-md-4 label fw-bold ">Noms</div>
                        <div class="col-lg-9 col-md-8">
                            {{ user.enseignant.nom }} {{ user.enseignant.postnom }} {{ user.enseignant.prenom }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-3 col-md-4 label fw-bold ">Profession</div>
                        <div class="col-lg-9 col-md-8">
                            {{ user.enseignant.profession }}
                        </div>
                    </div>
                    {% endif %}

                </div>
                <div class="tab-pane fade pt-3" id="profile-change-password">
                    <!-- Change Password Form -->
                    <form method="POST" action="">
                        <div class="row mb-3">
                            <input type="hidden" name="id" value="" />
                            <label for="currentPassword" class="col-md-6 col-lg-5 col-form-label">Nom
                                d'Utilisateur</label>
                            <div class="col-md-6 col-lg-7">
                                <input value="{{user.username}}" name="nomutilisateur" type="text" class="form-control" id="currentPassword">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="currentPassword" class="col-md-6 col-lg-5 col-form-label">Mot de Passe
                                Courant</label>
                            <div class="col-md-6 col-lg-7">
                                <input name="password" type="password" class="form-control" value="{{user.password}}" id="currentPassword">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="newpassword" class="col-md-6 col-lg-5 col-form-label">Nouveau Mot de
                                Passe</label>
                            <div class="col-md-6 col-lg-7">
                                <input name="newpassword" type="password" class="form-control" id="newPassword">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="confirmassword" class="col-md-6 col-lg-5 col-form-label">Confirmer le Nouveau Mot de passe</label>
                            <div class="col-md-6 col-lg-7">
                                <input name="confirmpassword" type="password" class="form-control" id="renewPassword">
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Modifier</button>
                        </div>
                    </form><!-- End Change Password Form -->

                </div>

            </div><!-- End Bordered Tabs -->

        </div>
    </div>

</div>

{% endblock %}