
{% extends 'base/auth_signup_layout.html' %}

{% block title %}eScholar{% endblock %}

{% block content%}
<style>
    /* Assurez-vous que le conteneur Jitsi Meet occupe toute la page sans débordement */
    body, html {
        margin: 0;
        padding: 0;
        max-width: 100vw;
        width:100%;
        height: 100%;
        overflow-x: hidden ; /* Eviter les barres de défilement */
        background-color: black;
        box-sizing: border-box;

    }
    #meet {
        width: 100vw;
        height: 90vh;
        box-sizing: border-box;
    }
</style>
<div class="header d-flex justify-content-between align-items-center bg-dark p-0">
    <h4 class="text-white fw-bold text-center ms-4 mt-2 mb-2"><b>eScholar Vidéo Conférence</b></h4>
    {% comment %} <a href="#" id="closeLink" class="text-white ml-auto">Fermer</a> {% endcomment %}
    <button id="joinConference" class="btn btn-primary mt-0 me-4"><b>Joindre</b></button>
    <button id="leaveConference" class="btn btn-danger mt-0 me-4" style="display:none;">Quitter</button>
</div>

<div id="meet"></div>
<script>
    const domain = 'meet.jit.si';
    const options = {
        roomName: 'eScholarClassRoomNathan',
        width: window.innerWidth,
        height: window.innerHeight,
        parentNode: document.querySelector('#meet'),
        configOverwrite: {
            // Example configurations to optimize performance
            startWithVideoMuted: true,
            startWithAudioMuted: false,
            // Adjust the following as needed
            resolution: 720,
            disableAudioLevels: true,
            disableDeepLinking: true,
        },
        interfaceConfigOverwrite: {
            // Customize interface settings if needed
            SHOW_JITSI_WATERMARK: false,
        }
    };

    let api;

    document.getElementById('joinConference').addEventListener('click', () => {
        document.getElementById('meet').style.display = 'block';
        document.getElementById('joinConference').style.display = 'none';
        document.getElementById('leaveConference').style.display = 'inline';

        api = new JitsiMeetExternalAPI(domain, options);

        api.addEventListeners({
            'videoConferenceJoined': () => {
                console.log('Vidéoconférence commencée');
            },
            'readyToClose': () => {
                console.log('La vidéoconférence est terminée');
                leaveConference();
            }
        });

        window.addEventListener('resize', debounce(resizeMeet, 200));
    });

    document.getElementById('leaveConference').addEventListener('click', leaveConference);
    document.getElementById('closeLink').addEventListener('click', leaveConference);

    function leaveConference() {
        if (api) {
            api.dispose();
            api = null;
        }
        document.getElementById('meet').style.display = 'none';
        document.getElementById('joinConference').style.display = 'inline';
        document.getElementById('leaveConference').style.display = 'none';
        window.removeEventListener('resize', debounce(resizeMeet, 200));
    }

    function resizeMeet() {
        const meetElement = document.querySelector('#meet');
        meetElement.style.width = window.innerWidth + 'px';
        meetElement.style.height = window.innerHeight + 'px';
        if (api) {
            api.resizeLargeVideo(window.innerWidth, window.innerHeight);
        }
    }

    function debounce(func, wait) {
        let timeout;
        return function(...args) {
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(this, args), wait);
        };
    }
</script>

{% endblock%}